.button {
  background: none;
  border: none;
  width: 1.375rem;
  height: 1.375rem;
  cursor: pointer;
}
.button img {
  height: 1.375rem;
  width: 1.375rem;
}
.parent {
  display: flex;
  align-items: flex-end;
  position: relative;
}
.parent > a {
  padding-right: 0.3rem;
}

.nestedNav {
  position: relative;
}
.subNav {
  position: absolute;
  min-width: 13rem;
  top: 3rem;
  left: 0;
  background: #fff;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  z-index: 10;
  padding: 0.438rem 1.875rem;
  border-top: none;
}

.subNav li {
  margin: 0.1rem 0;
  padding: 0 0 1rem !important;
  color: #484747;
}

ul.subNav li:last-child {
  border: none;
  padding: 0;
}

ul.subNav li:last-child:hover {
  background: none;
}

.subNav a {
  display: inline-block;
  width: 100%;
  text-align: left;
}

.activeMenuItem {
  text-decoration: underline;
  cursor: default;
}