.social {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.social a {
  display: block;
  height: fit-content;
}

.svgWrapper svg {
  display: block;
  height: 35px;
  width: auto;
}

.svgWrapper svg:hover {
  opacity: 70%;
}